* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefae0;
  font-family: 'Poppins', sans-serif;
}

/* Start - Style Navbar */

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fefae0;
  z-index: 100;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 3rem;
  gap: 2rem;
}

.nav-logo img {
  width: 40px;
  height: 40px;
}

.nav-logo h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  width: 100%;
  padding: 0 2rem;
  border-bottom: 1px solid #000000;
}

.nav-menu button {
  background: none;
  border: none;
}

.nav-search-btn button img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.nav-sub-menu {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  gap: 2rem;
}

.nav-sub-menu a {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.nav-sub-menu a:hover {
  font-weight: 500;
}

.nav-account-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-account-menu button img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

/* End - Style Navbar */

.sub-hero {
  width: 100%;
  height: auto;
  padding-top: 5.5rem;
}

.sub-hero .banner {
  padding: 2rem 6rem;
}

/* Start - Style Hero */
.hero {
  position: relative;
  width: 100%;
  height: 745px;
  padding-top: 5.5rem;
  overflow: hidden;
}

.hero .banner {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 435px;
}

.hero .banner h2 {
  font-size: 32px;
  font-weight: 500;
  pointer-events: none;
}

.hero .banner p {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  pointer-events: none;
}

.btn-input {
  padding: 5px 10px;
  border-radius: 8px;
  border: 0.5px solid #000000;
  background-color: #ffc343;
  font-weight: 300;
  cursor: pointer;
}

.btn-input:hover {
  font-weight: bold;
}

.hero .flow-bg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 435px;
  background-color: #8ecae6;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom: 1px solid #000000;
  pointer-events: none;
}

.hero .flow-bg img {
  position: absolute;
  filter: drop-shadow(50px 50px 15px #626262);
}

/* --- Atur posisi gambar agar melingkari teks --- */
.flow-bg img:nth-child(1) {
  top: -75px;
  left: 25%;
  rotate: 10deg;
}
.flow-bg img:nth-child(2) {
  top: -125px;
  right: 20%;
}
.flow-bg img:nth-child(3) {
  top: 17%;
  right: 0;
  rotate: 10deg;
}
.flow-bg img:nth-child(4) {
  bottom: -100px;
  right: 15%;
  rotate: -10deg;
}
.flow-bg img:nth-child(5) {
  bottom: -110px;
  left: 35%;
}
.flow-bg img:nth-child(6) {
  bottom: -80px;
  left: 15%;
  rotate: 20deg;
}
.flow-bg img:nth-child(7) {
  top: 25%;
  left: 0;
  rotate: -5deg;
}
/* End - Style Hero */

/* Start - Style Category */
.category-container,
.new-produk-container,
.ours-produk-container {
  width: 100%;
  padding: 1rem 5rem 3rem 5rem;
}

.category-container .header-category,
.new-produk-container .header-new-produk {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.header-category h3,
.header-new-produk h3 {
  font-size: 24px;
  font-weight: 500;
}

.header-category p,
.header-new-produk p {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.category-container .main-category {
  display: flex;
  gap: 3.75rem;
  padding: 2rem 0;
  justify-content: center;
}

.main-category .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: auto;
  height: auto;
  background-color: #8ecae6;
  border: 1px solid #000000;
  border-radius: 26px;
  padding: 10px;
}

.main-category .card img {
  width: 230px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
  border: 1px solid #000000;
  filter: grayscale(0.5);
  transition: 0.2s ease-in-out;
}

.main-category .card img:hover {
  filter: grayscale(0);
}

.main-category .card button {
  width: 230px;
  height: 50px;
  background-color: #f0f3bd;
  border-radius: 16px;
  border: 1px solid #000000;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.main-category .card button:hover {
  background-color: #ffc343;
  font-weight: bold;
}
/* End - Style Category */

/* Start - Style New Produk */
.main-new-produk {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 0;
}

.main-new-produk img {
  width: 250px;
  height: 350px;
  border-radius: 16px;
  border: 1px solid #000000;
  filter: grayscale(0.5);
  object-fit: cover;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.main-new-produk img:hover {
  filter: grayscale(0);
}
/* End - Style New Produk */

/* Start - Style Produk Kami */
.ours-produk-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 2.5rem 0;
}

.ours-produk-header h3 {
  font-size: 24px;
  font-weight: 500;
}

.main-ours-produk {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2rem;
  gap: 2rem;
}

.card-produk {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  cursor: pointer;
}

.card-produk img {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  border: 1px solid #000000;
  filter: grayscale(0.5);
}

.card-produk img:hover {
  filter: grayscale(0);
}

.card-produk h4 {
  font-size: 16px;
  font-weight: 500;
}

.btn-price {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 26px;
  font-size: 12px;
  font-weight: 600;
  background-color: #8ecae6;
  border: none;
  padding-left: 15px;
  cursor: pointer;
}

.btn-price span {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-right: 10px solid #fefae0;
}
/* End - Style Produk Kami */

/* Start - Style Footer */
footer {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto;
  justify-content: space-between;
  background-color: #8d99ae;
  width: 100%;
  height: auto;
  padding: 1rem 5rem;
}

.footer-satu {
  width: 100%;
}

.footer-satu h5 {
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.footer-satu p {
  font-size: 16px;
  font-weight: 300;
}

.sosial {
  padding-top: 10px;
  display: flex;
  gap: 1.5rem;
}

.sosial img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.footer-dua {
  width: 100%;
}

.footer-dua table {
  width: 100%;
  text-align: end;
  font-size: 14px;
  font-weight: 300;
}

.footer-dua table thead {
  font-weight: 500;
}

table td {
  cursor: pointer;
}

.footer-tiga {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem 0 0 0;
  pointer-events: none;
}
/* End - Style Footer */

.sub-main {
  display: grid;
  grid-template-columns: 250px auto;
  padding: 1rem 6rem;
}

aside .aside-top {
  display: flex;
  justify-content: space-between;
}

aside .aside-top p {
  color: #626262;
}

.radio-square {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin-right: 20px;
  user-select: none;
}

/* Sembunyikan radio bawaan */
.radio-square input {
  display: none;
}

/* Kotak custom */
.radio-square .checkmark {
  width: 18px;
  height: 18px;
  border: 2px solid #767676;
  margin-right: 8px;
  position: relative;
  transition: all 0.3s ease;
}

.radio-square:hover .checkmark {
  border-color: #000000;
}

/* Saat aktif */
.radio-square input:checked + .checkmark {
  background-color: #ffc343;
}

.main-produk {
  padding-left: 3rem;
}

.top-main-produk {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.main-produk .produk-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 0;
  gap: 2.5rem 0;
}

.card {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  border: 1px solid #000000;
}

.card p {
  font-weight: 500;
}

.card .price {
  background-color: #8ecae6;
  width: 75%;
  padding: 0 10px;
  border: 1px solid #000000;
}

.about {
  padding: 5.5rem 6rem 3rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about img {
  width: 200px;
  height: 200px;
}

.about p {
  text-align: center;
}
